<h1>Grading Standards</h1>


<table>
    <tr>
        <thead>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Calificacion</th>
        </thead>
    </tr>

    <% @grading_standards.each do |valor| %>
    <tr>
        <td> <%= valor.title %> </td>
        <td> <%= valor.data %>  </td>
        <td> <%= valor.usage_count %>  </td>
        <td>
            <%= link_to "Editar", edit_grading_standars_path(valor) %>
            <%= link_to "Eliminar", valor, method: :delete, data:{confirm:"¿Desea eliminar dicha nota?"} %>
        </td>
    </tr>

    <% end %>


</table>

