<h1>Nuevo GradingStandards</h1>

<%= form_for @grading_standard do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_area :title %>
    </div>
    <div>
        <%= f.label :data %>
        <%= f.text_area :data %>
    </div>
    <div>
        <%= f.label :usage_count %>
        <%= f.number_field :usage_count %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>